.row {
    width: 99.5%;
    height: 635px;
    background-color: #ffffff;
    position: relative;
}

.square {
    width: 350px;
    height: 350px;
    background: #1c49b1;
    float: left;
    position: relative;
}

.vertical {
    margin-top: 142px;
    width: 100%;
    height: 68px;
    background-color: white;
    float: left;
}

.horizontal {
    margin-left: 140px;
    background-color: white;
    width: 73px;
    height: 353px;
}

.azul {
    width: 100%;
    height: 71px;
    background-color: #1c49b1;
}

.branco {
    width: 100%;
    height: 70px;
    background-color: white;
}
