.cardLogar {
    position: absolute;
    margin-top: 85px;
    margin-left: 500px;
    width: 25%;
    height: 500px;
    text-align: center;
    border: 2px solid black;
    box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cardLogar .inputs {
    margin-top: 50px;
    height: 80%;
    width: 100%;
}

.cardLogar .labelUsername {
    position: absolute;
    margin-top: 125px;
    margin-left: -25px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}

.labelUsername:hover {
    color: #007E80;
}

.cardLogar .username {
    position: absolute;
    padding: 3px;
    display: inline-block;
    outline: none;
    height: 8%;
    width: 65%;
    margin-top: 150px;
    margin-left: -25px;
    background-color: white;
    border: 1px solid black;
    transition-duration: 0.8s;
}

.username:focus,
.username:hover {
    border: 1px solid #007E80;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cardLogar .labelPassword {
    position: absolute;
    margin-top: 225px;
    margin-left: -25px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}

.labelPassword:hover {
    color: #007E80;
}

.cardLogar .password {
    position: absolute;
    padding: 3px;
    display: inline-block;
    outline: none;
    height: 8%;
    width: 65%;
    margin-top: 250px;
    margin-left: -25px;
    background-color: white;
    border: 1px solid black;
    transition-duration: 0.8s;
}

.password:focus,
.password:hover {
    border: 1px solid #007E80;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cardLogar .btnLogar {
    cursor: pointer;
    outline: none;
    margin-top: 350px;
    padding: 10px;
    width: 50%;
    height: 10%;
    border: 1px solid black;
    transition-duration: 0.8s;
    background-color: #fff;
}

.btnLogar:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #007E80;
    color: white;
}

.cardLogar .logo {
    position: absolute;
    padding: 20px;
    font-weight: bold;
    font-size: 45px;
    margin-left: -95px;
    margin-top: 48px;
    box-sizing: border-box;
    letter-spacing: 5px;
    transition-duration: 1.0s;
    cursor: pointer;
}

.logo:hover {
    color: #007E80;
    margin-left: -130px;
    letter-spacing: 20px;
    text-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
