.header {
    border: 0.2px solid black;
    width: 99.9%;
    height: 100px;
}

.titulo{
    text-align: center;
    font-size: 25px; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;   
    margin-top: 35px;
}

.id {
    margin-top: 78px;
    margin-left:43%;
    position: absolute;
}

.inputId {
    position: absolute;
    padding: 3px;
    display: inline-block;
    outline: none;
    margin-top: 100px;
    margin-left: 43%;
    height: 5%;
    width: 13%;
    background-color: white;
    border: 1px solid black;
    transition-duration: 0.8s;
}

.inputId:focus,
.inputId:hover {
    border: 1px solid #007E80;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.vida {
    margin-top: 178px;
    margin-left:43%;
    position: absolute;
}

.inputVida {
    position: absolute;
    padding: 3px;
    display: inline-block;
    outline: none;
    margin-top: 200px;
    margin-left: 43%;
    height: 5%;
    width: 13%;
    background-color: white;
    border: 1px solid black;
    transition-duration: 0.8s;
}

.inputVida:focus,
.inputVida:hover {
    border: 1px solid #007E80;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.exp {
    margin-top: 275px;
    margin-left:43%;
    position: absolute;
}

.inputExp {
    position: absolute;
    padding: 3px;
    display: inline-block;
    outline: none;
    margin-top: 300px;
    margin-left: 43%;
    height: 5%;
    width: 13%;
    background-color: white;
    border: 1px solid black;
    transition-duration: 0.8s;
}

.inputExp:focus,
.inputExp:hover {
    border: 1px solid #007E80;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.dano {
    margin-top: 375px;
    margin-left:43%;
    position: absolute;
}

.inputDano {
    position: absolute;
    padding: 3px;
    display: inline-block;
    outline: none;
    margin-top: 400px;
    margin-left: 43%;
    height: 5%;
    width: 13%;
    background-color: white;
    border: 1px solid black;
    transition-duration: 0.8s;
}

.inputDano:focus,
.inputDano:hover {
    border: 1px solid #007E80;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.adicionarNovo {
    cursor: pointer;
    margin-top: 480px;
    margin-left: 46.5%;
    height: 50px;
    outline: none;
    border: 1px solid black;
    transition-duration: 0.8s;
}

.adicionarNovo:hover {
    letter-spacing: 2px;
    margin-left: 46%;
}
