.headerPagina {
    height: 40%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.headerPagina .titulo {
    margin-top: -70px;
    margin-left: 580px;
    font-weight: bold;
    font-size: 30px;
    color: black;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
}

.headerPagina .logo {
    height: 100px;
}

.btnLogout {
    position: absolute;
    height: 40px;
    width: 100px;
    margin-left: 1050px;
    margin-top: 30px;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    transition-duration: 0.8s;
    background-color: #fff;
}

.btnLogout:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #007E80;
    color: white;
}

.itensInicial {
    height: 82.9vh;
    width: 100%;
    background: rgb(231, 231, 231);
}

.novo {
    position: absolute;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin-top: 208px;
    margin-left: 400px;
    letter-spacing: 5px;
    transition-duration: 0.8s;
    cursor: pointer;
}

.novo:hover {
    color: #007E80;
    text-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnAdicionar {
    position: absolute;
    font-weight: bold;
    margin-top: 200px;
    margin-left: 45%;
    border: 1px solid black;
    outline: none;
    height: 80px;
    width: 140px;
    transition-duration: 0.8s;
    cursor: pointer;
}

.btnAdicionar:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



