.Mirror {
    text-align: center;
    background-color: rgba(24, 21, 21, 0.863);
    color: white;
    width: 100%;
    height: 100vh;
}

.btnVoltar {
    position: absolute;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: -100px;
    width: 110px;
    height: 30px;
    background: black;
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
    text-align: center;
    transition-duration: 0.4s;
  }

  .btnNetBlits {
    position: absolute;
    box-sizing: border-box;
    margin-left: 40px;
    margin-top: 10px;
    width: 110px;
    height: 30px;
    background: black;
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
    text-align: center;
    transition-duration: 0.4s;
  }

  .btnDeslogar {
    position: absolute;
    box-sizing: border-box;
    margin-left: 550px;
    margin-top: 10px;
    width: 110px;
    height: 30px;
    background: black;
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
    text-align: center;
    transition-duration: 0.4s;
}

.header {
    width: 100%;
    height: 50px;
    background-color: rgb(243, 240, 240); 
    transition-duration: 1s;
}

.header:hover {
    background-color: rgb(19, 18, 18);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.footer {
    margin-top:60px;
    width: 100%;
    height: 50px;
    background-color: rgb(243, 240, 240); 
    transition-duration: 0.4s;
}

.footer:hover {
    background-color: rgb(19, 18, 18);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.Mirror .btnSortearMirror {
    position: absolute;
    margin-top: 200px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.678);
    margin-left: -350px;
    border-radius: 8px 0px 0px 8px;
    height: 30px;
    width: 70px;
    transition-duration: 0.4s;
    outline: none;
    cursor: pointer;
}

.Mirror .btnMarcarMirror {
    position: absolute;
    margin-top: 200px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.678);
    margin-left: 280px;
    border-radius: 0px 8px 8px 0px;
    height: 30px;
    width: 70px;
    transition-duration: 0.4s;
    outline: none;
    cursor: pointer;
}

.btnSortearMirror:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
}

.btnMarcarMirror:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
}

.btnNetBlits:hover {
    background-color: rgb(230, 230, 230);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: rgb(0, 0, 0);
}

.btnVoltar:hover {
    background-color: rgb(230, 230, 230);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: rgb(36, 36, 36);
}

.deslogar:hover {
    background-color: rgb(230, 230, 230);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: rgb(36, 36, 36);
}
