    .NetBlitsCss {
        text-align: center;
    }

    .header {
        border-bottom: 1px solid black;
    }

    .lateral {
        position: absolute;
        height: 605.4px;
        width: 20%;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        background-color: rgb(226, 225, 225);
    }

    .serieAtual {
        margin-left: 30px;   
        height: 300px;
        width: 200px;
        border: 1px solid black;
        background-color: white;
        box-shadow: 0 8px 90px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .proximaSerie {
        height: 30px;
        width: 100px;
        margin-top: 20px;
        cursor: pointer;
        transition: 0.8s;
        border: 1px solid black;
        outline: none;
    }

    .proximaSerie:hover {
        background-color: rgb(49, 72, 121);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        color: white;
    }

    .telaPrincialNetBlits {
        position: absolute;
        height: 605px;
        width: 1087px;
        border: 1px solid black;
        background-color: rgb(226, 225, 225); 
        margin-left: 273px;
        margin-top: -375px;
    }

    .telaPrincialNetBlits .anoEstreia {
        font-size: 20px;
    }

    .telaPrincialNetBlits .diretor {
        font-size: 20px;
        margin-top: 20px;
    }

    .telaPrincialNetBlits .genero {
        font-size: 20px;
        margin-top: 30px;
    }

    .telaPrincialNetBlits .distribuidora {
        font-size: 20px;
        margin-top: 30px;
    }

    .telaPrincialNetBlits .elenco {
        font-size: 20px;
        margin-top: 40px;
    }

    .lateral .temporadas {
        font-size: 20px;
        margin-top: 350px;
    }

    .lateral .episodios {
        font-size: 20px;
        margin-top: 10px;
    }