.TelaInicialCss {
    text-align: center;
}

.TelaInicialCss .linkNetBlits {
    font-size: 16px;
    position: absolute;
    margin-top: 200px; 
    margin-left: 50px;
    width: 110px;
    height: 30px;
    background: rgba(255, 255, 255, 0.678);
    border-radius: 0px 8px 8px 0px;
    border: 1px solid black;
    outline: none;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .TelaInicialCss .linkReactMirror {
    position: absolute;
    box-sizing: border-box;
    margin-top: 200px;
    margin-left: -100px;
    width: 110px;
    height: 30px;
    background: rgba(255, 255, 255, 0.678);
    border-radius: 8px 0px 0px 8px;
    border: 1px solid black;
    outline: none;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .linkNetBlits:hover {
    background-color: rgb(49, 72, 121);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
  }

  .linkReactMirror:hover {
    background-color: rgb(141, 20, 16);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
  }

  a{
      text-decoration: none;
      color: black;
      box-sizing: border-box;
      padding: 2px;
  }