.row {
    width: 99.5%;
    height: 635px;
    background-color: #ffffff;
    border: 1px solid black;
    position: relative;
}

.img {
    margin-top: 15px;
    margin-left: 475px;
    width: 320px;
    height: 320px;
}

.vermelho {
    width: 100%;
    height: 145px;
    background-color: red;
}

.branco {
    width: 100%;
    height: 345px;
    background-color: white;
}
