
body{
    margin: 0;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    color: #333;
}
ul {
    list-style-type: none;
}


.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}


.img {
    float: left;
    margin-top: 60px;
    margin-left: 340px;
}

.form {
    position: absolute;
    margin-left: 100px;
}


.sorteB {
    position: absolute;
    float: left;
    margin-top: 460px;
    margin-left: 570px;  
    text-align: center;
    cursor: pointer;
}

.sorte:hover {background-color: #ceb64f}

.sorte:active {
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

.sorte {
    background: #efcb22;
    border: 1.8px solid black;
    height: 115px;
    width: 115px;
    border-radius: 100px;
    outline: none;
}

.btnP {
    position: absolute;
    float: left;
    border: 1px solid gray; 
    outline: none;
    margin-top: 448px;
    margin-left: 283px;
    height: 50px;
    width: 50px;
    border-radius: 90px;
    background-color: black;
}

.btnP:hover {background-color: #161511}

.btnP:active {
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

.nomePoke {
    position: absolute;
    float: left;
    margin-top: 520px;
    margin-left: 350px;
    font-size: 7px;
    color: white;
}

.imgPoke {
    width: 10px;
    height: 10px;
    position: absolute;
    float: left;
    margin-top: 255px;
    margin-left: 385px;
}

.idPoke {
    position: absolute;
    color: white;
    float: left;
    width: 100px;
    font-size: 9px;
    margin-left: 724px;
    margin-top: 521px;
}

.alturaPoke {
    position: absolute;
    color: white;
    float: left;
    width: 120px;
    font-size: 9px;
    margin-left: 655px;
    margin-top: 240px;
}

.pesoPoke {
    position: absolute;
    color: white;
    float: left;
    width: 120px;
    font-size: 9px;
    margin-left: 655px;
    margin-top: 340px;
}

.tipoPoke {
    position: absolute;
    color: white;
    float: left;
    font-size: 8px;
    width: 200px;
    margin-left: 655px;
    margin-top: 440px;
}

.inputPoke {
    position: absolute;
    border: none;
    float: left;
    font-family: 'Press Start 2P', cursive;
    font-size: 9px;    
    width: 50px;
    margin-top: 470px;
    margin-left: 385px;
    background-color: #56ab63;
    color: white;
}

.estatisticasPoke {
    position: absolute;
    color: white;
    float: left;
    font-size: 8px;
    width: 100px;
    line-height: 17px;
    margin-left: 800px;
    margin-top: 235px;
}