/* Banner */

.banner {
    position: relative;
    background: url('../imgs/banner2.jpg') no-repeat center bottom / cover;
    color: #F0F3BD;
    text-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.banner .container {
    height: calc(110vh - 70px);
    position: relative;
    z-index: 2;
}

@media (max-width: 600px) {
    .banner h1 {
        margin-bottom: 15px;
        font-size: 25px;
        line-height: 25px;
    }

    .banner p {
        font-size: 12px;
        line-height: 14px;
    }

    .banner br {
        display: none;
    }
}