/* Button */

.button {
    display: inline-block;
    margin: 0;
    margin-top: 60px;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.89);
    background: #00A896;
    transition: background 0.2s ease-in-out 0s, transform 0.2 ease-in-out 0s;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}
 
.button:hover {
    transform: scale(1.1);
}


@media (max-width: 480px) {
    .button {
        display: block;
        width: 100%;
    }
}