/* Contato */

input,
textarea {
    margin: 4px 0;   
    padding: 12px 20px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    border: 2px solid #00A896;;
    background-color: #fff;
    border-radius: 6px;
    color: #05668D;
}

label {
    font-size: 14px;
    line-height: 18px;
    
}

.mapa{
    width: 100%;
    height: 485px;
    border: 1px solid #05668D;
    border-radius: 6px;
}

body {
    background-color: #F0F3BD;    
}

.container-contact {
    color: #00A896;
}

.hospedagens a {
    color: #00A896;
}

.container-contact label{
    color: #00A896;
}

.container-contact .button {
    margin-top: 10px;
    margin-left: 100px;
}

::placeholder{
    color: rgb(87, 78, 78);
}

.textarea {
    margin-top: 20px;
    resize: vertical;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    outline-color: #00A896;
}

.button {
    border-radius: 10px;
    border: 3px black;
    width: 120px;

}

.input:focus {
    outline-color: #00A896;
}