.banner {
    background-color: #F0F3BD;
    text-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.banner .container {
    height: calc(110vh - 70px);
    position: relative;
    z-index: 2;
}

.container {
    margin: 0 auto;
}
