/* Footer */

.footer {
    padding: 10px 0;
    background: #00A896;
}

.footer a {
    font-size: 12px;
    line-height: 2px;
    color: #F0F3BD;
}

.footer p {
    margin: 30px 0 0;
    font-size: 11px;
    line-height: 4px;
    color: #F0F3BD;
}