/* Quem Somos */

.banner .container {
    height: calc(100vh - 70px);
    position: relative;
    z-index: 2;
}

.banner h1{
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
}


.banner p {
font-size: 20px;
line-height: 20px;
}

.header {
    background-color: black;
}

.header a {
    color: white;
}

.footer {
    padding: 30px 0;
    background-color: black;

}

.footer a {
    font-size: 12px;
    line-height: 12px;
    color: white;

}

.footer p {
    margin: 30px 0 0;
    font-size: 11px;
    line-height: 14px;
    color: #999;
}

.principal-card {
    margin: 10px;
    padding: 12px;
    width: 736px;
    height: 394px;
}

.second-card {
    margin: 10px;
    width: 180px;

}

.card {
    margin-left: 40px; 
    padding: 2px 40px;
    width: 200px;
    height: 300px;
    margin-bottom: 30px;
}


img {
    margin: 10px 15px;
}