/* Section */

.container {
    width: 980px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; 
    box-sizing: border-box;
}

.col-100 {
    width: 100%;
}

.col-75 {
    width: 75%;
}

.col-50 {
    width: 50%;
}

.col-25 {
    width: 25%;
}

.container .contato {
    width: 980px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0; 
    box-sizing: border-box;
}

section {
    padding-top:  60px;
    padding-bottom: 60px;
}

.col {
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}

.row {
    margin: 0 -15px;
}

.row:before,
.row:after {
    content: '';
    display: table;
    clear: both;
}

.col-half {
    width: 50%;
}

.article-image {
    margin: 0 15px 10px 0;
}
