body {
  background-color: #091f25;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
span {
  color: white;
}

button {
  padding: 0px 10px;
  box-sizing: border-box;
  margin: 8px;
  border-radius: 4px;
  outline: none;
  height: 30px;
  
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
