/* Button */

.button {
    display: inline-block;
    margin: 0;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.89);
    transition: background 0.2s ease-in-out 0s, transform 0.2 ease-in-out 0s;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}
 
.button:hover {
    transform: scale(1.1);
}

.button-blue {
    background: #024494;
}

.button-blue:hover {
    background: #052d5e;
}

.button-blue:active {
    background: #0a7e9b;
}

.button-green {
    background: #34ae49;
}

.button-green:active {
    background: #406807;
}

.button-green:hover {
    background: #035f11;
}

@media (max-width: 480px) {
    .button {
        display: block;
        width: 100%;
    }
}