/* Contato */

input,
textarea {
    margin: 4px 0;   
    padding: 12px 20px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: whitesmoke;
    border-radius: 6px;
    color: black;
}

label {
    font-size: 14px;
    line-height: 18px;
    
}

.mapa{
    width: 100%;
    height: 485px;
    border: 1px solid black;
    border-radius: 6px;
}

body {
    background-color: white;    
}

.container-contact {
    color: black;
}

.container-contact label{
    color: black;
}

.container-contact .button {
    margin-top: 10px;
    margin-left: 100px;
}

::placeholder{
    color: rgb(87, 78, 78);
}

.textarea {
    resize: vertical;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}

.button {
    border-radius: 10px;
    border: 3px black;
    width: 120px;

}

.header{
   background-color: black; 
}

.header a {
    color: white;
}

.footer {
    background-color: black;
}

.footer a {
    color: white;
}