/* Soluções */

.row {
    display: inline; 
}

.row .col {
    margin: 5px;
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}

.row .col-half {
    width: 23%;
}

.row h2 {
    font-size: 20px;
    line-height: 20px;
}

.row p {
    font-size: 15px;
    line-height: 20px;
}

.card .button {
    border-radius: 14px;
    border: 3px black;
    font-size: 12px;
    line-height: 6px;
}

.header{
    background-color: black; 
}

 .header a {
     color: white;
}

.footer {
    padding: 30px 0;
    background-color: black;

}

.footer a {
    font-size: 12px;
    line-height: 12px;
    color: white;

}

.footer p {
    margin: 30px 0 0;
    font-size: 11px;
    line-height: 14px;
    color: #999;
}


.card {
    margin-left: 12px; 
    padding: 10px;
    width: 20%;
    border-radius: 8px;
    backgroud-color: white;
    transition: transform 0.3s ease-in-out 0s;
    display: inline-block;
}

.card:hover{
    transform: scale(1.1);
}


img {
    margin: 15px 15px;
    
}

.card h2{
    font-size: 15px;
}

.container h1 {
    font-size: 40px;
}

.solucoes p {
    font-size: 18px;
    line-height: 30px;
}

@media (max-width: 600px){
    .container h1 {
        font-size: 22px;
        line-height: 22px;
    }

    .card h2 {
        font-size: 10px;
        line-height: 10px;
    }

    .card p {
        font-size: 12px;
        line-height: 12px;
    }
}

@media (min-width: 480px) {
    .card {
        min-height: 306px;
    }
}

@media (min-width: 900px) {
    .card {
        min-height: 400px;
    }
}