body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #333;
}

.card {
    margin-left: 550px;
    margin-top: 90px; 
    height: 240px;
}

.top {
    position: absolute;
    margin-top: 120px;
    padding: 0px 15px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: #be0e23;
    border-radius: 15px 15px 0 0;
    width: 210px;
    height: 120px;
    padding-bottom: 10px;
}

.middle {
    margin-top: 120px;
    margin-left: 8px;
    float: left;
    padding: 0px 15px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: #ade7ff;
    border-radius: 10px;
    width: 190px;
    height: 250px;
}

.bot {
    padding-top: 10px;
    position: absolute;
    padding: 0px 15px;
    margin-top: 250px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: #be0e23;
    border-radius: 0 0 15px 15px;
    width: 210px;
    height: 120px;
}

.btn {
    outline: none;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-top: 70px;
    margin-left: 25px;
    z-index: 1;
    border: 2px solid black;
    background: #be0e23;
}

.inside {
    float: left;
    width: 30px;
    height: 30px;
    background: white;
    border: 3px solid black;
    border-radius: 30px;
    margin-left: 25px;
    margin-top: 5px;
}

/* .linha {
    float: left;
    width: 100px;
    height: 20px;
    background: white;
    border: 3px solid black;
    margin-left: 25px;
    margin-top: 5px;
} */