/* Alemanha */

.row {
    width: 99.5%;
    height: 635px;
}

.preto {
    width: 100%;
    height: 213px;
    background-color: black;
    z-index: 1;
}

.vermelho {
    width: 100%;
    height: 213px;
    background-color: red;
    z-index: 1;
}

.amarelo {
    width: 100%;
    height: 213px;
    background-color: yellow;
    z-index: 1;
}