.App{
  text-align: center;
}

a{
  text-decoration: none;
}

.inicio {
  margin-top: 280px;
  margin-left: 600px;
}

.inicio .mirror {
  position: absolute;
    box-sizing: border-box;
    margin-left: 80px;
    margin-top: 10px;
    width: 110px;
    height: 30px;
    background: black;
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
    text-align: center;
    transition-duration: 0.4s;
}

.inicio .netBlits {
  position: absolute;
    box-sizing: border-box;
    margin-left: -40px;
    margin-top: 10px;
    width: 110px;
    height: 30px;
    background: black;
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
    text-align: center;
    transition-duration: 0.4s;
}