.row {
    width: 99.5%;
    height: 635px;
    background-color: #ffffff;
    border: 2px solid black;
}

.circle {
    width: 270px;
    height: 270px;
    border-radius: 800px;
    background: red;
    margin-top: 190px;
    margin-left: 513px;
}
