/*
	Theme Name: Albedo
	Theme URI: http://themeforest.net/user/wplab/portfolio/?ref=wplab
	Author: https://www.albedo-theme.com/
	Text Domain: albedo
	Domain Path: /languages
	Author URI: http://themeforest.net/user/wplab/?ref=wplab
	License URI: http://themeforest.net/licenses/regular_extended
	Description: Albedo — Universal Creative WordPress Theme
	Version: 1.0.2
	License: This WordPress theme is comprised of two parts: (1) The PHP code and integrated HTML are licensed under the GPL license as is WordPress itself. You will find a copy of the license text in the same directory as this text file. Or you can read it here: http://wordpress.org/about/gpl/ (2) All other parts of the theme including, but not limited to the CSS code, images, and design are licensed according to the license purchased. Read about licensing details here: http://themeforest.net/licenses/regular_extended
*/

div.desc {
	font-size: 14px;
    color: #adcae4;
^}

.shortcode-testimonials.style-modern-white .swiper-nav-btn .name {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
	display: none !important;
}

input.in-ajax-progress {
    background-position: right 0px center !important;
}

div.mc4wp-form-fields {
	font-size: 14px;
    color: #adcae4;
^}

div.bottom-bar-text {
    color: #adcae4;
^}

#solucoes {
    width: 103%;
}

.mc4wp-form input[type=email] {
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22…%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A);
    background-position: right 9px center !important;
    background-size: 25px auto;
    background-repeat: no-repeat;
}

.mc4wp-alert {
	margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}

.header-menu-wrapper.slider-header-mode.scrolled .menu > .menu-item > a {
    color: #252525;
	position: relative;
    transition: all .3s;
    text-shadow: 0px 0px #636363 !important;
}

#footer {
    background-color: #252525;
    background-image: ;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
    color: #adcae4 !important;
}

@media (max-width: 660px){
	#shortcode-1515502925385-e21d9cb9-a3f6 {
		margin-left: -125px !important;
	}
	
	#solucoes {
		width: 110%;
	}
}