/* Section */

.container {
    max-width: 980px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; 
    box-sizing: border-box;
}

.col-sm-100 {
    width: 100%;
}

.col-sm-75 {
    width: 75%;
}

.col-sm-50 {
    width: 50%;
}

.col-sm-25 {
    width: 25%;
}

.col-sm-20 {
    width: 20%;
}

.col-sm-15 {
    width: 15%;
}

.col-sm-10 {
    width: 10%;
}

.col-sm-5 {
    width: 5%;
}

@media (min-width: 480px) {
    .col-md-100 {
        width: 100%;
    }
    
    .col-md-75 {
        width: 75%;
    }
    
    .col-md-50 {
        width: 50%;
    }
    
    .col-md-25 {
        width: 25%;
    }
    
    .col-md-20 {
        width: 20%;
    }

    .col-md-15 {
        width: 15%;
    }

    .col-md-10 {
        width: 10%;
    }
    
    .col-md-5 {
        width: 5%;
    }
}

@media (min-width: 900px) {
    .col-lg-100 {
        width: 100%;
    }
    
    .col-lg-75 {
        width: 75%;
    }
    
    .col-lg-50 {
        width: 50%;
    }
    
    .col-lg-25 {
        width: 25%;
    }
    
    .col-lg-20 {
        width: 20%;
    }

    .col-lg-15 {
        width: 15%;
    }

    .col-lg-10 {
        width: 10%;
    }
    
    .col-lg-5 {
        width: 5%;
    }
}

.container .contato {
    width: 980px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0; 
    box-sizing: border-box;
}

section {
    padding-top:  60px;
    padding-bottom: 60px;
}

.col {
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}

.row {
    margin: 0 -15px;
}

.row:before,
.row:after {
    content: '';
    display: table;
    clear: both;
}

.col-half {
    width: 50%;
}

.article-image {
    margin: 0 15px 10px 0;
}

.hide {
    display: none;
}

@media (max-width: 479px) {
    .show-on-sm {
        display: block;
    }
}

@media (min-width: 480px) and (max-width: 899px) {
    .show-on-md {
        display: block;
    }
}

@media (min-width: 900px) {
    .show-on-lg {
        display: block;
    }
}