.cardLogar {
    position: absolute;
    margin-top: 85px;
    margin-left: 500px;
    width: 25%;
    height: 500px;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cardLogar .inputs {
    margin-top: 50px;
    height: 80%;
    width: 100%;
}

.cardLogar .labelEmail {
    position: absolute;
    margin-top: 125px;
    margin-left: -25px;
    font-weight: bold;
    transition-duration: 0.4s;
}

.labelEmail:hover {
    color: #007E80;
}

.cardLogar .email {
    position: absolute;
    padding: 3px;
    display: inline-block;
    outline: none;
    height: 8%;
    width: 65%;
    margin-top: 150px;
    margin-left: -25px;
    background-color: white;
    border: 1px solid black;
    transition-duration: 0.8s;
}

.email:focus,
.email:hover {
    border: 1px solid #007E80;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cardLogar .labelSenha {
    position: absolute;
    margin-top: 225px;
    margin-left: -25px;
    font-weight: bold;
    transition-duration: 0.4s;
}

.labelSenha:hover {
    color: #007E80;
}

.cardLogar .senha {
    position: absolute;
    padding: 3px;
    display: inline-block;
    outline: none;
    height: 8%;
    width: 65%;
    margin-top: 250px;
    margin-left: -25px;
    background-color: white;
    border: 1px solid black;
    transition-duration: 0.8s;
}

.senha:focus,
.senha:hover {
    border: 1px solid #007E80;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cardLogar .btnLogar {
    cursor: pointer;
    outline: none;
    margin-top: 350px;
    padding: 10px;
    width: 50%;
    height: 10%;
    border: 1px solid black;
    transition-duration: 0.8s;
    background-color: #fff;
}

.btnLogar:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #007E80;
    color: white;
}

.cardLogar .logo {
    position: absolute;
    padding: 20px;
    margin-left: -111px;
    margin-top: 5px;
    box-sizing: border-box;
}
