.headerPagina {
    height: 40%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.headerPagina .titulo {
    margin-top: -70px;
    margin-left: 580px;
    font-weight: bold;
    font-size: 30px;
    color: black;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
}

.headerPagina .logo {
    height: 100px;
}

.btnLogout {
    position: absolute;
    height: 40px;
    width: 100px;
    margin-left: 1050px;
    margin-top: 30px;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    transition-duration: 0.8s;
    background-color: #fff;
}

.btnLogout:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #007E80;
    color: white;
}

.itensInicial {
    height: 82.9vh;
    width: 100%;
    background: rgb(20, 18, 18);
}

.agencias{
    position: absolute;
    margin-top: 20px;
    margin-left: 380px;
    height: 30%;
    width: 250px;
    background: rgb(223, 223, 223);
    border: 1px solid black;
    cursor: pointer;
    outline: none;
    border-radius: 70px 0px 0px 0px;
    transition-duration: 0.8s;
}

.agencias:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #007E80;
    color: white;
    border-radius: 0px;
}

.clientes{
    position: absolute;
    margin-top: 20px;
    margin-left: 750px;
    height: 30%;
    width: 250px;
    background: rgb(223, 223, 223);
    border: 1px solid black;
    cursor: pointer;
    outline: none;
    border-radius: 0px 70px 0px 0px;
    transition-duration: 0.8s;
}

.clientes:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #007E80;
    color: white;
    border-radius: 0px;
}

.tiposContas{
    position: absolute;
    margin-top: 300px;
    margin-left: 380px;
    height: 30%;
    width: 250px;
    background: rgb(223, 223, 223);
    border: 1px solid black;
    cursor: pointer;
    outline: none;
    border-radius: 0px 0px 0px 70px;
    transition-duration: 0.8s;
}

.tiposContas:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #007E80; 
    color: #007E80;
    color: white;
    border-radius: 0px;
}

.contaClientes{
    position: absolute;
    margin-top: 300px;
    margin-left: 750px;
    height: 30%;
    width: 250px;
    background: rgb(223, 223, 223);
    border: 1px solid black;
    cursor: pointer;
    outline: none;
    border-radius: 0px 0px 70px 0px;
    transition-duration: 0.8s;
}

.contaClientes:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #007E80;
    color: white;
    border-radius: 0px;
}

.agenciasImg,
.clientesImg,
.tipoContasImg {
    margin-left: 20px;
}