.headerTipoContas {
    height: 40%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 30px 30px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.titulo {
    margin-top: -71px;
    margin-left: 575px;
    font-weight: bold;
    font-size: 35px;
    color: black;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
}

.headerTipoContas .logo {
    height: 100px;
}

.btnLogout {
    position: absolute;
    height: 40px;
    width: 100px;
    margin-left: 1050px;
    margin-top: 30px;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    transition-duration: 0.8s;
    background-color: #fff;
}

.loading {
    margin-top: 50px;
    margin-left: 580px;
}

.btnLogout:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #007E80;
    color: white;
}

.itensTipoContas {
    height: 82.9vh;
    width: 100%;
    background: whitesmoke;
}

.cardTipoContas {
    padding: 2px;
    box-sizing: border-box;
    margin-left: 590px;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 130px;
    width: 200px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    transition-duration: 1s;
}

.cardTipoContas:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #007E80;
    color: white;
    border-radius: 0px;
}